@model IEnumerable<DbFirstModel.House>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    <div id="qwe"></div>


<script> $('#qwe').load('@Url.Action("HousesPartial", "House")');</script>